*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-raduis: 1rem;
    --background-color: #121212;
    --background-danger: rgba(255,0,0,0.25);
    --background-add: rgba(0,255,0,0.125);
    --background-danger-5: rgba(255,0,0,0.5);
    --border-color: #262626;
    --text-color: #E0E0E0;

    /* Font Variables */
    --font-heading: 'Doto', sans-serif;
    --font-body: 'JetBrains Mono', monospace;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: var(--font-body);
    gap: 1rem;
}

.title{
    /*position: absolute;*/
    /*top: 1.25rem;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin-top: 2rem;
    color: var(--text-color);
    font-family: var(--font-heading);
}


.notesContainer{
    border: 2px solid var(--border-color);
    /*max-width: 70dvw;*/
    width: min(80dvw, 70rem);
    max-height: 70dvh;
    border-radius: var(--border-raduis);
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    overflow-y: auto;
    overflow-x: hidden;
}


.notes{
    border: 2px solid var(--border-color);
    margin: 1rem;
    border-radius: var(--border-raduis);
    padding: 1rem 1rem;
    color: var(--text-color);
    cursor: pointer;
    flex: 1 0 15rem;
    transition: all 150ms ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
}

.notes:hover{
    transform: scale(1.0625);
}

.deleteEditBtn{
    padding: 1rem;
    background: var(--background-danger);
    border-radius: var(--border-raduis);
    border: 2px solid var(--border-color);
    color: var(--text-color);
}

.deleteEditBtn:hover{
    background: var(--background-danger-5);
}


.btnContainer{
    width: min(80dvw, 70rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


.btnContainer button{
    padding: 1rem;
    background: transparent;
    border-radius: var(--border-raduis);
    border: 2px solid var(--border-color);
    transition: all 150ms ease-in-out;
    color: var(--text-color);
    min-width: 15rem;
    cursor: pointer;
}

.btnContainer button:hover{
    transform: scale(1.0625);
}

.addBtn:hover{
    background-color: var(--background-add);
}


@media (max-width: 910px) {
    .btnContainer button{
        margin-bottom: 1rem;
    }
    
    .btnContainer .addBtn {
        margin-bottom: auto;
    }
}

@media (max-width: 615px) {
    .btnContainer button{
        flex-grow: 1;
    }

    .btnContainer .addBtn{
        margin-bottom: 1rem;
    }
    
    .btnContainer{
        flex-direction: column-reverse;
        align-items: normal;
    }

    .btnContainer > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

#modalOut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    color: var(--text-color);
}

#modalOut.show{
    display: flex;
}

#modalInner{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-raduis);
    padding: 2rem;
    margin: 0 1rem;
    min-width: 30dvw;
    min-height: 25dvh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

#modalBody{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    flex-grow: 1;
    min-width: inherit;
    min-height: inherit;
}

#modalBody textarea{
    padding: 1rem;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
    border-radius: var(--border-raduis);
    flex-grow: 1;
    /*resize: none;*/
    min-width: inherit;
    min-height: inherit;
    max-width: 80dvw;
    max-height: 70dvh;
}

.modalBtn{
    padding: 1rem;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
    border-radius: var(--border-raduis);
    transition: all 150ms ease-in-out;
    
}

.modalBtn:hover{
    transform: scale(1.0625);
}